:root {
    --laptop-width: auto;
    --laptop-height: 600px;
    --4k-width: 2000px;
    --4k-height: 1000px;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", "Sans-Serif";
    width: 100%;
}

@keyframes hiding {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#preloader {
    background-color: white;
    /* position: absolute; */
    width: 100%;
    height: 150%;
    z-index: 3;
    top: 0;
    position: fixed;
}

.preloader-container {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

#preloader img {
    margin-top: 10%;
    width: 380px;
    height: 380px;
    object-fit: cover;
}
.preloader-container p {
    opacity: 1;
    animation: hiding 1.5s;
    animation-iteration-count: infinite;
}

.preloader-hidden {
    opacity: 0;
    visibility: hidden;
    transition: all ease-in-out 0.5s;
}

iframe {
    width: 50%;
    height: 400px;
}

.menu {
    top: 0;
    padding: 1rem;
    border-bottom: 1px solid #c3c3c3;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: white;
    width: 100%;
    margin-top: 0;
    padding: 0;
    font-size: 24px;
    z-index: 2;
    box-shadow: 0 0 5px 0px rgba(195, 195, 195, 1);
}

.menu a {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    margin: 0;
    margin-right: 3rem;
    padding: 0;
}

.navbar li {
    padding: 0.4rem 1rem;
    margin: 0;
}
.navbar li a {
    text-decoration: none;
    color: black;
}

.sidebar {
    right: 0;
    position: fixed;
    background-color: white;
    list-style-type: none;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid #c3c3c3;
    border-top: 0;
    margin-top: 3.63rem;
    transition: all ease-in-out 0.5s;
    box-shadow: 0 0 5px 0px rgba(195, 195, 195, 1);
    z-index: 1;
}

.sidebar li {
    padding: 1rem 2rem;
    font-size: 20px;
}

.sidebar li a {
    text-decoration: none;
    color: black;
    margin: auto;
}

#sideMenuButton {
    display: none;
}

#logo {
    margin: 0;
    margin-left: 2rem;
    height: 45px;
    padding: 0.5rem 0;
}

#sideSocials {
    margin-top: 10rem;
    margin-left: -5rem;
    left: 0;
    position: fixed;
    font-size: 30px;
    list-style-type: none;
    z-index: 2;
}

.social-facebook {
    padding: 0.5rem;
    padding-left: 3rem;
    background-color: #3b5998;
    color: white;
}
.social-facebook:hover {
    transform: translate(20%, 0);
    transition: 0.1s;
}

.social-tiktok {
    padding: 0.5rem;
    padding-left: 3rem;
}
.social-tiktok:hover {
    transform: translate(20%, 0);
    transition: 0.1s;
}

.social-whatsapp {
    background-color: #25d366;
    color: white;
    padding: 0.5rem;
    padding-left: 3rem;
}
.social-whatsapp:hover {
    transform: translate(20%, 0);
    transition: 0.1s;
}
.social-instagram {
    background: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
    );
    padding: 0.5rem;
    padding-left: 3rem;
}

.social-instagram:hover {
    transform: translate(20%, 0);
    transition: 0.1s ease;
}

#mainContainer {
    width: 100%;
    margin-top: 3.6rem;
    text-align: center;
    transition: all ease-in-out 0.5s;
}

#loadingGif {
    position: absolute;
    margin: auto;
    width: 400px;
    height: 400px;
    display: none;
}

section {
    padding: 2rem 0;
}

#about {
    background-color: #f7f7f7;
    scroll-margin-top: 5rem;
}
h1 {
    font-size: clamp(20px, 36px, 50px);
    margin: 0;
    margin-bottom: 2rem;
}
h2 {
    font-size: 30px;
    margin: 0;
    margin-bottom: 2rem;
}
h3 {
    margin: 2rem 2.5rem;
}
h4 {
    margin: 2rem 2.5rem;
    text-align: justify;
}
#about h3 {
    margin: 2rem 0;
}
#about p {
    margin-bottom: 5rem;
    width: 80%;
    margin: auto;
}

#about ul {
    text-align: center;
    padding: 0;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
    margin: auto;
}
#about ul li {
    list-style-type: none;
    text-align: left;
    margin: 0.5rem auto auto auto;
    padding-top: 0.7rem;
    font-size: 22px;
    width: 27rem;
    display: flex;
    align-items: center;
}
#about ul li span {
    display: inline-block;
}
.about-icon {
    display: inline-block;
    font-size: 32px;
    width: 2.5rem;
    height: 1.9rem;
    margin: 0 1rem;
    padding: 0;
}

#services {
    background-color: #181818;
    color: white;
    scroll-margin-top: 3.8rem;
}

#services ul {
    text-align: center;
    padding: 0;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
    margin: auto;
}
#services ul li {
    list-style-type: none;
    text-align: left;
    margin: 0.5rem auto auto auto;
    padding-top: 0.7rem;
    font-size: 22px;
    width: 27rem;
    display: flex;
    align-items: center;
}

#services ul li img {
    display: inline-block;
    width: 2.5rem;
    margin: 0 1rem;
}
#services ul li span {
    display: inline-block;
}

#realizationAll {
    background-color: #f7f7f7;
    padding-bottom: 0 !important;
}

#realizationAll h3 {
    font-size: 26px;
}

#realizations {
    scroll-margin-top: 3.8rem;
    background-color: #f7f7f7;
}
#realizations h4 {
    text-align: center;
}
.realizations-swiper-img {
    max-height: var(--laptop-height);
    max-width: var(--laptop-width);
    margin: auto;
}

.realization-gallery {
    max-height: var(--laptop-height) !important;
    max-width: var(--laptop-width) !important;
    margin: auto;
} /* klasa ustawiajaca wymiar galerii */
.realization-gallery-img {
    max-height: var(--laptop-height) !important;
    max-width: var(--laptop-width) !important;
    margin: auto;
}
.realization-gallery-img-thumb {
    max-width: 80px;
    max-height: 80px;
}

.realizations-button {
    margin-top: 1.8rem;
    padding: 1.5rem;
    background-color: #181818;
    color: #f7f7f7;
    border: 1px solid black;
    font-size: 20px;
    font-weight: bold;
    border-radius: 0.1rem;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.743);
    cursor: pointer;
}
.realizations-button a {
    text-decoration: none;
    color: #f7f7f7;
}

.swiper .swiper-pagination-bullet {
    background-color: white;
    width: 15px;
    height: 15px;
}

#contact {
    scroll-margin-top: 3.8rem;
    background-color: #181818;
    color: white;
}

#contact ul {
    display: flex;
    margin: auto;
    padding: 0;
    width: 90%;
    justify-content: space-evenly;
    column-gap: 1rem;
    row-gap: 2rem;
    list-style-type: none;
    flex-wrap: wrap;
    text-align: center;
}
#contact li {
    width: 10rem;
    margin-bottom: 1.5rem;
}

#contact span {
    display: block;
}

#contact h3 {
    margin-bottom: 5rem;
    text-decoration: bold;
}

#contact h4 {
    margin: 5rem 0;
    text-align: center;
}

.contact-icon {
    margin-right: 0.2rem !important;
}

.contact-title-span {
    margin-bottom: 0.7rem;
    font-weight: bold;
}

.contact-social-icons {
    font-size: 28px;
}
.contact-social-icons i {
    margin-right: 1rem;
}

.contact-social-icons a {
    color: white;
    text-decoration: none;
}
#faq {
    background-color: #f7f7f7;
}

#faq li {
    margin: 0;
}
#faq p {
    margin: 5rem 5rem;
    font-size: clamp(1rem, 2vw, 5rem);
}

#footer {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding-top: 0;
    padding-bottom: 2rem;
    text-align: center;
    justify-content: center;
    box-shadow: 0 0 5px 0px rgba(195, 195, 195, 1);
}
#footer a,
span {
    display: block;
}

#footer span {
    margin: 1rem 0;
    font-weight: bold;
}
#footer a {
    font-size: 8px;
    text-decoration: none;
    color: black;
}

#policy {
    scroll-margin-top: 5rem;
    width: 85%;
    margin: auto;
    text-align: justify;
}

#policy h1 {
    margin-bottom: 5rem;
    text-align: center;
}

#policy h3 {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-top: 2rem;
}

.copyright {
    display: inline !important;
}

#PPF {
    background-color: #f7f7f7;
}

#wrap {
    background-color: #181818;
    color: white;
}

#windows {
    background-color: #f7f7f7;
}

#headlights {
    background-color: #181818;
    color: white;
}
#indStyl {
    background-color: #f7f7f7;
}

#PDR {
    background-color: #181818;
    color: white;
}

#dechrom {
    background-color: #f7f7f7;
}

.hidden {
    margin-right: -20rem;
}
.none {
    display: none;
}

.drop-down {
    margin-right: 5rem;
    transition: all ease-in-out 0.5s;
}

.blur {
    filter: blur(2px);
}

/* .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.swiper {
    /* width: 100%; */
    width: auto;
    max-height: 680px;
    margin-left: auto;
    margin-right: auto;
    z-index: 0 !important;
}

/* .swiper-slide {
    background-size: cover;
    background-position: center;
} */

.swiperGallery1,
.swiperGallery2,
.swiperGallery3,
.swiperGallery4,
.swiperGallery5,
.swiperGallery6,
.swiperGallery7 {
    /* height: 80%;
    width: 100%; */
    width: 70%;
    height: auto;
}

.swiperThumb1,
.swiperThumb2,
.swiperThumb3,
.swiperThumb4,
.swiperThumb5,
.swiperThumb6 {
    /* height: 250px !important; */
    box-sizing: border-box;
    padding: 10px 0;
    margin-top: 0.1rem;
}

.swiperThumb1 .swiper-slide,
.swiperThumb2 .swiper-slide,
.swiperThumb3 .swiper-slide,
.swiperThumb4 .swiper-slide,
.swiperThumb5 .swiper-slide,
.swiperThumb6 .swiper-slide {
    width: auto !important;
    height: auto !important;
    opacity: 0.4;
}

.swiperThumb1 .swiper-slide-thumb-active,
.swiperThumb2 .swiper-slide-thumb-active,
.swiperThumb3 .swiper-slide-thumb-active,
.swiperThumb4 .swiper-slide-thumb-active,
.swiperThumb5 .swiper-slide-thumb-active,
.swiperThumb6 .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-scrollbar.swiper-scrollbar-horizontal {
    bottom: var(--swiper-scrollbar-bottom, 0px) !important  ;
}

/*ustawienie wysokosci scrolbara*/

.hover-underline {
    color: #ffffff;
    position: relative;
    display: inline-block;
}

.hover-underline::after,
.hover-underline::before {
    content: "";
    position: absolute;
    width: 98%;
    height: 2px;
    background: linear-gradient(to right, #f7f7f7, #181818);
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease-out;
}

.hover-underline:hover::after,
.hover-underline:hover::before {
    transform: scaleX(1);
}

/*@media only screen and (max-width: 1024px) {

#contact li {
    width: 26rem;
}
}*/

@media only screen and (max-width: 768px) {
    iframe {
        width: 80%;
        height: 400px;
    }

    #mainContainer {
        width: 100%;
    }
    #logo {
        height: 35px;
        padding: 0.69rem 0;
        margin: auto 1.5rem;
    }

    #sideMenuButton {
        display: block;
        margin-right: 1rem;
    }

    .none {
        display: none;
    }
    .navbar {
        display: none;
    }

    .side-menu {
        margin-top: 0.2rem;
        padding: 0.5rem 1rem;
        z-index: 3;
    }

    #menuIcon1,
    #menuIcon2 {
        width: 1.2rem;
    }

    .social-facebook,
    .social-instagram,
    .social-tiktok,
    .social-whatsapp {
        padding: 0.25rem;
        padding-left: 3rem;
    }

    #about p {
        margin: 1rem 2.8rem;
        text-align: justify;
    }

    #about ul li {
        font-size: 17px;
        width: 22rem;
    }
    #services ul li {
        font-size: 17px;
        width: 22rem;
    }

    #contact li {
        width: 16rem;
    }

    .realizations-button {
        font-size: 18px;
        padding: 0.5rem;
    }

    #policy {
        width: 80%;
        margin: auto;
    }

    .swiper {
        width: auto;
        max-height: 650px;
    }
    .realizations-swiper-img {
        width: 100%;
        max-height: 650px;
        height: auto !important;
        object-fit: cover !important;
    }
    .realization-gallery-img {
        width: 100% !important;
        height: auto !important;
        object-fit: contain !important;
    }
    .swiperThumb1 .swiper-slide,
    .swiperThumb2 .swiper-slide,
    .swiperThumb3 .swiper-slide,
    .swiperThumb4 .swiper-slide,
    .swiperThumb5 .swiper-slide,
    .swiperThumb6 .swiper-slide {
        height: 80px !important;
        width: 80px !important;
    }
    .swiperGallery1,
    .swiperGallery2,
    .swiperGallery3,
    .swiperGallery4,
    .swiperGallery5,
    .swiperGallery6,
    .swiperGallery7 {
        /* height: 80%;
    width: 100%; */
        width: 100%;
        height: auto;
    }

    #preloader img {
        margin-top: 25%;
    }
}

@media screen and (min-width: 2500px) {
    #logo {
        height: 80px;
        padding: 0.6rem 0;
    }

    #mainContainer {
        margin-top: 5rem;
    }

    .realizations-swiper-img {
        max-height: var(--4k-height) !important;
        max-width: var(--4k-width) !important;
        margin: auto;
    }

    .realization-gallery {
        max-height: var(--4k-height) !important;
        max-width: var(--4k-width) !important;
        margin: auto;
    } /* klasa ustawiajaca wymiar galerii */
    .realization-gallery-img {
        max-height: var(--4k-height) !important;
        max-width: var(--4k-width) !important;
        margin: auto;
    }
    .realization-gallery-img-thumb {
        max-width: 100px;
        max-height: 100px;
    }
}
