body {
    padding: 0;
    margin: 0;
}

header {
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #c3c3c3;
    position: fixed;
    background-color: white;
    width: 100%;
}

#logo {
    margin-left: 2rem;

    height: 60px;
    width: 200px;
    padding: 0.5rem;
}

.menu {
    margin-top: 0;
    padding: 0;
    margin-right: 20rem;
    font-size: 24px;
}

.menu ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu li {
    display: block;
    padding: 1.5rem 2rem;
}

#sideSocials {
    margin-top: 10rem;
    right: 0;
    padding: 0;
    position: fixed;
    font-size: 30px;
}
#sideSocials ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}

.social-style {
    padding: 0.5rem;
}

.fill-gradient-instagram {
    background: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
    );
}


#mainContainer{
  width: 90%;
  margin-top: 8rem;
  margin-left: 2rem;
  text-align: center;
}
