html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", "Sans-Serif";
    width: 100%;
}

iframe {
    width: 50%;
    height: 400px;
}

.menu {
    top: 0;
    padding: 1rem;
    border-bottom: 1px solid #c3c3c3;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: white;
    width: 100%;
    margin-top: 0;
    padding: 0;
    font-size: 24px;
    z-index: 2;
    box-shadow: 0 0 5px 0px rgba(195, 195, 195, 1);
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    margin: 0;
    margin-right: 3rem;
    padding: 0;
}

.navbar li {
    padding: 0.4rem 1rem;
    margin: 0;
}
.navbar li a {
    text-decoration: none;
    color: black;
}

.sidebar {
    right: 0;
    position: fixed;
    background-color: white;
    list-style-type: none;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid #c3c3c3;
    border-top: 0;
    margin-top: 3.6rem;
    transition: all ease-in-out 0.5s;
    box-shadow: 0 0 5px 0px rgba(195, 195, 195, 1);
}

.sidebar li {
    padding: 1rem 3.5rem;
    font-size: 20px;
}

.sidebar li a {
    text-decoration: none;
    color: black;
}

#sideMenuButton {
    display: none;
}

#logo {
    margin: 0;
    margin-left: 2rem;
    height: 35px;
    padding: 1rem 0;
}

#sideSocials {
    margin-top: 10rem;
    margin-left: -5rem;
    left: 0;
    position: fixed;
    font-size: 30px;
    list-style-type: none;
    z-index: 2;
}

.social-facebook {
    padding: 0.5rem;
    padding-left: 3rem;
    background-color: #3b5998;
    color: white;
}
.social-facebook:hover {
    transform: translate(20%, 0);
    transition: 0.1s;
}

.social-tiktok {
    padding: 0.5rem;
    padding-left: 3rem;
}
.social-tiktok:hover {
    transform: translate(20%, 0);
    transition: 0.1s;
}

.social-whatsapp {
    background-color: #25d366;
    color: white;
    padding: 0.5rem;
    padding-left: 3rem;
}
.social-whatsapp:hover {
    transform: translate(20%, 0);
    transition: 0.1s;
}
.social-instagram {
    background: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
    );
    padding: 0.5rem;
    padding-left: 3rem;
}

.social-instagram:hover {
    transform: translate(20%, 0);
    transition: 0.1s ease;
}

#mainContainer {
    width: 100%;
    margin-top: 3.6rem;
    text-align: center;
    transition: all ease-in-out 0.5s;
}

section {
    padding: 2rem 0;
}

#about {
    background-color: #f7f7f7;
    scroll-margin-top: 3.8rem;
}
h1 {
    font-size: 36px;
    margin: 0;
    margin-bottom: 2rem;
}
#about h3 {
    margin: 2rem 0;
}
#about p {
    margin-bottom: 5rem;
    width: 80%;
    margin: auto;
}

#about ul {
    text-align: center;
    padding: 0;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
    margin: auto;
}
#about ul li {
    list-style-type: none;
    text-align: left;
    margin: 0.5rem auto auto auto;
    padding-top: 0.7rem;
    font-size: 22px;
    width: 27rem;
    display: flex;
    align-items: center;
}
#about ul li span {
    display: inline-block;
}
.about-icon {
    display: inline-block;
    font-size: 32px;
    width: 2.5rem;
    height: 1.9rem;
    margin: 0 1rem;
    padding: 0;
}

#services {
    background-color: #181818;
    color: white;
    scroll-margin-top: 3.8rem;
}

#services ul {
    text-align: center;
    padding: 0;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
    margin: auto;
}
#services ul li {
    list-style-type: none;
    text-align: left;
    margin: 0.5rem auto auto auto;
    padding-top: 0.7rem;
    font-size: 22px;
    width: 27rem;
    display: flex;
    align-items: center;
}

#services ul li img {
    display: inline-block;
    width: 2.5rem;
    margin: 0 1rem;
}
#services ul li span {
    display: inline-block;
}

#realizationAll {
    background-color: #f7f7f7;
}

#realizations {
    scroll-margin-top: 3.8rem;
    background-color: #f7f7f7;
}
.realizations-swiper-img {
    max-height: 800px !important;
    max-width: 1200px !important;
    margin: auto;
}

.realization-gallery {
    max-height: 800px !important;
    max-width: 1200px !important;
    margin: auto;
} /* klasa ustawiajaca wymiar galerii */
.realization-gallery-img {
    max-height: 800px !important;
    max-width: 1200px !important;
    margin: auto;
}

#realizations button {
    margin-top: 1.8rem;
    padding: 1rem;
    background-color: #181818;
    color: #f7f7f7;
    border: 2px solid black;
    font-size: 24px;
    font-weight: bold;
}
#realizations button a {
    text-decoration: none;
    color: #f7f7f7;
}

.swiper {
    z-index: 0 !important;
}

.swiper .swiper-pagination-bullet {
    background-color: white;
    width: 15px;
    height: 15px;
}

#contact {
    scroll-margin-top: 3.8rem;
    background-color: #181818;
    color: white;
}

#contact ul {
    display: flex;
    margin: auto;
    padding: 0;
    width: 90%;
    justify-content: space-evenly;
    column-gap: 1rem;
    row-gap: 2rem;
    list-style-type: none;
    flex-wrap: wrap;
    text-align: center;
}
#contact li {
    width: 10rem;
    margin-bottom: 1.5rem;
}

#contact span {
    display: block;
}
.contact-icon {
    margin-right: 0.2rem !important;
}

.contact-title-span {
    margin-bottom: 0.7rem;
    font-weight: bold;
}

.contact-social-icons {
    font-size: 28px;
}
.contact-social-icons i {
    margin-right: 1rem;
}

#footer {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding-top: 0 !important;
    padding-bottom: 2rem !important;
    text-align: center;
    justify-content: center;
    box-shadow: 0 0 5px 0px rgba(195, 195, 195, 1);
}
#footer a,
span {
    display: block;
}

#footer span {
    margin: 1rem 0;
    font-weight: bold;
}
#footer a {
    font-size: 8px;
    text-decoration: none;
    color: black;
}

.copyright {
    display: inline !important;
}

#PPF {
    background-color: #f7f7f7;
}

#wrap {
    background-color: #181818;
    color: white;
}

#windows {
    background-color: #f7f7f7;
}

#headlights {
    background-color: #181818;
    color: white;
}
#polishing {
    background-color: #f7f7f7;
}

#PDR {
    background-color: #181818;
    color: white;
}

.hidden {
    margin-right: -20rem;
}
.none {
    display: none;
}

.drop-down {
    margin-right: 5rem;
    transition: all ease-in-out 0.5s;
}

.blur {
    filter: blur(2px);
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.swiperGallery1,
.swiperGallery2,
.swiperGallery3,
.swiperGallery4,
.swiperGallery5,
.swiperGallery6 {
    height: 80%;
    width: 100%;
}

.swiperThumb1,
.swiperThumb2,
.swiperThumb3,
.swiperThumb4,
.swiperThumb5,
.swiperThumb6 {
    /* height: 250px !important; */
    box-sizing: border-box;
    padding: 10px 0;
    margin-top: 0.5rem;
}

.swiperThumb1 .swiper-slide,
.swiperThumb2 .swiper-slide,
.swiperThumb3 .swiper-slide,
.swiperThumb4 .swiper-slide,
.swiperThumb5 .swiper-slide,
.swiperThumb6 .swiper-slide {
    width: 20%;
    height: 100%;
    opacity: 0.4;
}

.swiperThumb1 .swiper-slide-thumb-active,
.swiperThumb2 .swiper-slide-thumb-active,
.swiperThumb3 .swiper-slide-thumb-active,
.swiperThumb4 .swiper-slide-thumb-active,
.swiperThumb5 .swiper-slide-thumb-active,
.swiperThumb6 .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 768px) {
    iframe {
        width: 80%;
        height: 400px;
    }

    #mainContainer {
        width: 100%;
    }
    #logo {
        width: 100px;
        height: 25px;
    }

    #sideMenuButton {
        display: block;
        margin-right: 1rem;
    }

    .none {
        display: none;
    }
    .navbar {
        display: none;
    }

    .side-menu {
        margin-top: 0.2rem;
        padding: 0.5rem 1rem;
        z-index: 3;
    }

    #menuIcon1,
    #menuIcon2 {
        width: 1.2rem;
    }

    .social-facebook,
    .social-instagram,
    .social-tiktok,
    .social-whatsapp {
        padding: 0.25rem;
        padding-left: 3rem;
    }

    #about p {
        margin: 0 2.3rem;
    }

    #about ul li {
        font-size: 17px;
        width: 22rem;
    }
    #services ul li {
        font-size: 17px;
        width: 22rem;
    }

    #contact li {
        width: 16rem;
    }

    #realizations button {
        font-size: 18px;
        padding: 0.5rem;
    }

    .realizations-swiper-img {
        height: 500px !important;
    }
    .realization-gallery-img {
        width: 100% !important;
        height: 500px !important;
        object-fit: cover;
    }
    .swiperThumb1 .swiper-slide,
    .swiperThumb2 .swiper-slide,
    .swiperThumb3 .swiper-slide,
    .swiperThumb4 .swiper-slide,
    .swiperThumb5 .swiper-slide,
    .swiperThumb6 .swiper-slide {
        height: 130px !important;
    }
}
