html {
    scroll-behavior: smooth;
    font-size: 24px;
}

body {
    padding: 0;
    margin: 0;
    /* font-family: "Poppins", "Sans-Serif"; */
    width: 100%;
}

.menu {
    top: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    border-bottom: 1px solid black;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    margin: 0;
    margin-right: 3rem;
    padding: 0;
}

.navbar li {
    padding: 0.4rem 1rem;
    margin: 0;
}
.navbar li a {
    text-decoration: none;
    color: black;
}
